header {
	background: #333;
	padding: 10px 0;
	h1, p {
		display:inline-block;
		margin:10px 20px; 
		color: #f1f1f1;
	}
	h1 {
		font-weight: 300;
		color:$green;
	}	
	p {
		float: right;
		padding-right:20px;

		@media (max-width: 480px){
			float: none;
		}

	}
	input {
	  border-radius: 5px;
	  margin: 5px 0;
	}
}
.sort {
	margin:20px 20px;
		
	select {
		border:none;
		background:#fff;
	}	
}
